
    .weathertable
    {
        display: table;
        text-align: center;
        border-width: thin;
    }
    .weathertitle
    {
        display: table-caption;
        font-weight: bold;
        font-size: larger;
    }
    .weathericon
    {
        display: table-cell;
    
    }
    .weatherdescription
    {
      display: table-cell;
      text-transform: capitalize;
    }
    .weatherrow
    {
        display: table-row;
    }
    .weathercell
    {
        display: table-cell;
        margin: auto;
    }
