
    .weathertable
    {
        display: table;
        text-align: center;
    }
    .weathertitle
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .weatherheading
    {
        display: table-row;
        text-align: center;
        font-weight: bold;
       
    }
    .weatherrow
    {
        display: table-row;
        
    }
    .weathercell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 0px;
        padding-right: 0px;
       
    }
