
    .weathertable
    {
        display: table;
    }
    .weathertitle
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .weatherheading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .weatherrow
    {
        display: table-row;
    }
    .weathercell
    {
        display: table-cell;
        border: none;
        border-width: thin;
       /* padding-left: 5px;
        padding-right: 5px;*/
    }
