.theme-entry .toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}
.theme-entry .toggle-switch input {
  display: none;
}
.theme-entry .slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  height: 100%;
  width: 100%;
}
.theme-entry .slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.theme-entry input:checked + .slider {
  background-color: #2196F3;
}
.theme-entry input:checked + .slider:before {
  transform: translateX(26px);
}
